.git
.gitignore
.dockerignore
.vscode
.idea
.terraform
*.tfstate*
*.tfvars*
infra/development
node_modules
tmp
bin
dist
*.test
*.out
*.coverprofile
.env*
README.md
CHANGELOG.md
docs
scripts
Makefile
Tiltfile
staticcheck.conf
.release-please-manifest.json
release-please-config.json
.github
.cspell.json

# Editor atomic-save temp files
**/*.tmp.*
**/.!*!*
**/.#*
**/#*#
